force-app/main/default/flows/Claimant_Handler_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Case_Status</name>
        <label>Case Status</label>
        <locationX>961</locationX>
        <locationY>433</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Settled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllSettledCheckbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_All_Settled_Case_Notification</targetReference>
            </connector>
            <label>All Settled</label>
        </rules>
        <rules>
            <name>Partially_Settled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PartiallySettledCheckbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Partially_Settled_Case_Notification</targetReference>
            </connector>
            <label>Partially Settled</label>
        </rules>
        <rules>
            <name>Arbitrated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ArbitratedCheckbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Arbitrated_Case_Notification</targetReference>
            </connector>
            <label>Arbitrated</label>
        </rules>
    </decisions>
    <description>Fix errors</description>
    <interviewLabel>Claimant Handler Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Claimant Handler Notifications</label>
    <loops>
        <name>Case_Team_Member_Process_Loop</name>
        <label>Case Team Member Process Loop</label>
        <locationX>275</locationX>
        <locationY>435</locationY>
        <assignNextValueToReference>CaseTeamMember</assignNextValueToReference>
        <collectionReference>CaseTeamMembersCollectionVariable</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Claimant_Handler_Users</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Claimant_Handler_User_Notification</name>
        <label>Claimant Handler User Notification</label>
        <locationX>770</locationX>
        <locationY>432</locationY>
        <assignNextValueToReference>ClaimantHandlerUser</assignNextValueToReference>
        <collectionReference>ClaimantHandlerUsers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Case_Status</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_All_Settled_Case_Notification</name>
        <label>Create All Settled Case Notification</label>
        <locationX>966</locationX>
        <locationY>217</locationY>
        <assignRecordIdToReference>CaseNotificationId</assignRecordIdToReference>
        <connector>
            <targetReference>Claimant_Handler_User_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>Case_Member_Email__c</field>
            <value>
                <elementReference>ClaimantHandlerUser.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schedule_of_Losses_is_All_Settled__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>ClaimantHandlerUser.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Notification__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Arbitrated_Case_Notification</name>
        <label>Create Arbitrated Case Notification</label>
        <locationX>1270</locationX>
        <locationY>432</locationY>
        <assignRecordIdToReference>CaseNotificationId</assignRecordIdToReference>
        <connector>
            <targetReference>Claimant_Handler_User_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>Case_Member_Email__c</field>
            <value>
                <elementReference>ClaimantHandlerUser.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schedule_of_Losses_is_Arbitrated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>ClaimantHandlerUser.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Notification__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Partially_Settled_Case_Notification</name>
        <label>Create Partially Settled Case Notification</label>
        <locationX>968</locationX>
        <locationY>644</locationY>
        <assignRecordIdToReference>CaseNotificationId</assignRecordIdToReference>
        <connector>
            <targetReference>Claimant_Handler_User_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>Case_Member_Email__c</field>
            <value>
                <elementReference>ClaimantHandlerUser.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schedule_of_Losses_is_Partially_Settled__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>ClaimantHandlerUser.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Notification__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Records</name>
        <label>Get Case Records</label>
        <locationX>50</locationX>
        <locationY>165</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Claimant_Handler_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Team_Members</name>
        <label>Get Case Team Members</label>
        <locationX>49</locationX>
        <locationY>435</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Team_Member_Process_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseTeamMemberRoleRecord.Id</elementReference>
            </value>
        </filters>
        <object>CaseTeamMember</object>
        <outputReference>CaseTeamMembersCollectionVariable</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MemberId</queriedFields>
        <queriedFields>TeamRoleId</queriedFields>
        <queriedFields>ParentId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Claimant_Handler_Role</name>
        <label>Get Claimant Handler Role</label>
        <locationX>50</locationX>
        <locationY>297</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Team_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Claimant Handler</stringValue>
            </value>
        </filters>
        <object>CaseTeamRole</object>
        <outputReference>CaseTeamMemberRoleRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Claimant_Handler_Users</name>
        <label>Get Claimant Handler Users</label>
        <locationX>470</locationX>
        <locationY>432</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Claimant_Handler_User_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseTeamMember.MemberId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>ClaimantHandlerUsers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <startElementReference>Get_Case_Records</startElementReference>
    <status>Active</status>
    <variables>
        <name>AllSettledCheckbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ArbitratedCheckbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseNotificationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CaseTeamMember</objectType>
    </variables>
    <variables>
        <name>CaseTeamMemberRoleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CaseTeamRole</objectType>
    </variables>
    <variables>
        <name>CaseTeamMembersCollectionVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CaseTeamMember</objectType>
    </variables>
    <variables>
        <name>CaseTeamRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CaseTeamRole</objectType>
    </variables>
    <variables>
        <name>CaseTeamRoleCollectionVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CaseTeamRole</objectType>
    </variables>
    <variables>
        <name>ClaimantHandlerUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>ClaimantHandlerUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>PartiallySettledCheckbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
