force-app/main/default/flows/Create_New_Case_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_CaseId_to_Output</name>
        <label>Assign CaseId to Output</label>
        <locationX>3263</locationX>
        <locationY>1788</locationY>
        <assignmentItems>
            <assignToReference>outputCaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Created_Case_Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_PI_EL_EE_IncidentID_to_VAR</name>
        <label>Assign PI-EL-EE IncidentID to VAR</label>
        <locationX>1372</locationX>
        <locationY>180</locationY>
        <assignmentItems>
            <assignToReference>Created_Incident_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IncidentID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_PI_EL_EE_Case_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PI_MV_AO_Incident_ID_to_VAR</name>
        <label>Assign PI-MV-AO Incident ID to VAR</label>
        <locationX>868</locationX>
        <locationY>1429</locationY>
        <assignmentItems>
            <assignToReference>Created_Incident_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IncidentID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_PI_MV_AO_Case_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PI_MV_EE_IncidentID_to_VAR</name>
        <label>Assign PI-MV-EE IncidentID to VAR</label>
        <locationX>1275</locationX>
        <locationY>682</locationY>
        <assignmentItems>
            <assignToReference>Created_Incident_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IncidentID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PI_PL_EE_IncidentID_to_VAR</name>
        <label>Assign PI-PL-EE IncidentID to VAR</label>
        <locationX>1256</locationX>
        <locationY>1133</locationY>
        <assignmentItems>
            <assignToReference>Created_Incident_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IncidentID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_PI_PL_EE_Case_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Claimant</name>
        <choiceText>Claimant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Claimant</stringValue>
        </value>
    </choices>
    <decisions>
        <name>PI_EL_EE_IncidentId_Present</name>
        <label>PI-EL-EE IncidentId Present</label>
        <locationX>635</locationX>
        <locationY>186</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PI_EL_EE_Incident_ID_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IncidentID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PI_EL_EE_Incident_Description_Screen</targetReference>
            </connector>
            <label>PI-EL-EE Incident ID is Null</label>
        </rules>
        <rules>
            <name>PI_EL_EE_Incident_ID_NOT_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IncidentID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PI_EL_EE_IncidentID_to_VAR</targetReference>
            </connector>
            <label>PI-EL-EE Incident ID NOT Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>PI_MV_AO_Incident_ID_Present</name>
        <label>PI-MV-AO Incident ID Present</label>
        <locationX>629</locationX>
        <locationY>1432</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PI_MV_AO_Incident_ID_NOT_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IncidentID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PI_MV_AO_Incident_ID_to_VAR</targetReference>
            </connector>
            <label>PI-MV-AO Incident ID NOT Null</label>
        </rules>
        <rules>
            <name>PI_MV_AO_Incident_ID_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IncidentID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PI_MV_AO_Incident_Description_Screen</targetReference>
            </connector>
            <label>PI-MV-AO Incident ID is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>PI_MV_EE_Incident_ID_Present</name>
        <label>PI-MV-EE Incident ID Present</label>
        <locationX>913</locationX>
        <locationY>688</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PI_MV_EE_Incident_ID_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IncidentID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PI_MV_EE_Incident_Description_Screen</targetReference>
            </connector>
            <label>PI-MV-EE Incident ID is Null</label>
        </rules>
        <rules>
            <name>PI_MV_EE_Incident_ID_NOT_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IncidentID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PI_MV_EE_IncidentID_to_VAR</targetReference>
            </connector>
            <label>PI-MV-EE Incident ID NOT Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>PI_PL_EE_Incident_ID_Present</name>
        <label>PI-PL-EE Incident ID Present</label>
        <locationX>900</locationX>
        <locationY>1136</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PI_PL_EE_Incident_ID_Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IncidentID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PI_PL_EE_Incident_Description_Screen</targetReference>
            </connector>
            <label>PI-PL-EE Incident ID Is Null</label>
        </rules>
        <rules>
            <name>PI_PL_EE_Incident_ID_NOT_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IncidentID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PI_PL_EE_IncidentID_to_VAR</targetReference>
            </connector>
            <label>PI-PL-EE Incident ID NOT Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Protocol_Selection_for_Merit</name>
        <label>Protocol Selection for Merit</label>
        <locationX>633</locationX>
        <locationY>896</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PI_MV_AO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Protocol_Id.Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PI-MV-AO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PI_MV_AO_Incident_ID_Present</targetReference>
            </connector>
            <label>PI-MV-AO</label>
        </rules>
        <rules>
            <name>PI_MV_EE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Protocol_Id.Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PI-MV-EE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PI_MV_EE_Incident_ID_Present</targetReference>
            </connector>
            <label>PI-MV-EE</label>
        </rules>
        <rules>
            <name>PI_EL_EE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Protocol_Id.Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PI-EL-EE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PI_EL_EE_IncidentId_Present</targetReference>
            </connector>
            <label>PI-EL-EE</label>
        </rules>
        <rules>
            <name>PI_PL_EE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Protocol_Id.Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PI-PL-EE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PI_PL_EE_Incident_ID_Present</targetReference>
            </connector>
            <label>PI-PL-EE</label>
        </rules>
    </decisions>
    <description>New Lookup Component</description>
    <dynamicChoiceSets>
        <name>Case_Source_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Case_Source__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CityPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>City__c</picklistField>
        <picklistObject>Incident_Information__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Incident_City_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>City__c</picklistField>
        <picklistObject>Incident_Information__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Incident_Country_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Country__c</picklistField>
        <picklistObject>Incident_Information__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Incident_Type_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Incident_Type__c</picklistField>
        <picklistObject>Incident_Information__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Create New Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Bereavement_Record</name>
        <label>Create Bereavement Record</label>
        <locationX>3271</locationX>
        <locationY>1504</locationY>
        <assignRecordIdToReference>Created_Bereavement_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Legal_Costs_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Created_Case_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Head_of_Loss_Type__c</field>
            <value>
                <stringValue>Bereavement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schedule_of_Losses__c</field>
            <value>
                <elementReference>Created_SOL_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Loss_Category__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_Record</name>
        <label>Create Case Record</label>
        <locationX>1275</locationX>
        <locationY>834</locationY>
        <assignRecordIdToReference>Created_Case_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Defendant_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Case_Source__c</field>
            <value>
                <stringValue>Claimant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incident_Information__c</field>
            <value>
                <elementReference>Created_Incident_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Protocol__c</field>
            <value>
                <elementReference>Selected_Protocol</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Protocol_Id.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Claimant_Record</name>
        <label>Create Claimant Record</label>
        <locationX>2939</locationX>
        <locationY>501</locationY>
        <assignRecordIdToReference>Claimant_Record_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_SOL_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Created_Case_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Protocol_Id.Claimant_Record_Type_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>Claimant_Information__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Defendant_Firm_Record</name>
        <label>Create Defendant Firm Record</label>
        <locationX>3286</locationX>
        <locationY>620</locationY>
        <assignRecordIdToReference>Created_Defendant_Firm_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Merit_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Created_Case_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Defendant_Firm__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Defendant_Record</name>
        <label>Create Defendant Record</label>
        <locationX>1425</locationX>
        <locationY>834</locationY>
        <assignRecordIdToReference>Defendant_Record_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Claimant_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Created_Case_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Protocol_Id.Defendant_Record_Type_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>Defendant_Information__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Disadvantage_on_the_Open_Labour_Market_Record</name>
        <label>Create Disadvantage on the Open Labour Market Record</label>
        <locationX>3274</locationX>
        <locationY>1361</locationY>
        <assignRecordIdToReference>Created_DOLM_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Bereavement_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Created_Case_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Head_of_Loss_Type__c</field>
            <value>
                <stringValue>Disadvantage on Labour Market</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schedule_of_Losses__c</field>
            <value>
                <elementReference>Created_SOL_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Loss_Category__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_FFL_Record</name>
        <label>Create FFL Record</label>
        <locationX>3276</locationX>
        <locationY>1101</locationY>
        <assignRecordIdToReference>Created_FFL_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Loss_of_Congenial_Employment_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Created_Case_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Head_of_Loss_Type__c</field>
            <value>
                <stringValue>Future Financial Losses</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schedule_of_Losses__c</field>
            <value>
                <elementReference>Created_SOL_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Loss_Category__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Incident_Record</name>
        <label>Create Incident Record</label>
        <locationX>1111</locationX>
        <locationY>834</locationY>
        <assignRecordIdToReference>Created_Incident_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Case_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Address_Line_1__c</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City2__c</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>PI_MV_EE_Incident_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incident_Date__c</field>
            <value>
                <elementReference>PI_MV_EE_Incident_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incident_Type__c</field>
            <value>
                <stringValue>Motor Vehicle Accident</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postal_Code__c</field>
            <value>
                <elementReference>Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State_County__c</field>
            <value>
                <elementReference>County</elementReference>
            </value>
        </inputAssignments>
        <object>Incident_Information__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Legal_Costs_Record</name>
        <label>Create Legal Costs Record</label>
        <locationX>3270</locationX>
        <locationY>1638</locationY>
        <assignRecordIdToReference>Created_Legal_Costs_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_CaseId_to_Output</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Created_Case_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Head_of_Loss_Type__c</field>
            <value>
                <stringValue>Legal Costs</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schedule_of_Losses__c</field>
            <value>
                <elementReference>Created_SOL_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Loss_Category__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Loss_of_Congenial_Employment_Record</name>
        <label>Create Loss of Congenial Employment Record</label>
        <locationX>3277</locationX>
        <locationY>1240</locationY>
        <assignRecordIdToReference>Created_LOCE_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Disadvantage_on_the_Open_Labour_Market_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Created_Case_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Head_of_Loss_Type__c</field>
            <value>
                <stringValue>Loss of Congenial Employment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schedule_of_Losses__c</field>
            <value>
                <elementReference>Created_SOL_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Loss_Category__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Merit_Record</name>
        <label>Create Merit Record</label>
        <locationX>3287</locationX>
        <locationY>733</locationY>
        <assignRecordIdToReference>Created_Merit_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_PFL_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Defendant Liability</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Case__c</field>
            <value>
                <elementReference>Created_Case_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schedule_of_Losses__c</field>
            <value>
                <elementReference>Created_SOL_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Merit__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_PFL_Record</name>
        <label>Create PFL Record</label>
        <locationX>3286</locationX>
        <locationY>856</locationY>
        <assignRecordIdToReference>Created_PFL_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_PSLA_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Created_Case_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Head_of_Loss_Type__c</field>
            <value>
                <stringValue>Past Financial Losses</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schedule_of_Losses__c</field>
            <value>
                <elementReference>Created_SOL_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Loss_Category__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_PI_EL_EE_Case_Record</name>
        <label>Create PI-EL-EE Case Record</label>
        <locationX>1371</locationX>
        <locationY>484</locationY>
        <assignRecordIdToReference>Created_Case_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_PI_EL_EE_Defendant_Company_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Case_Source__c</field>
            <value>
                <stringValue>Claimant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incident_Information__c</field>
            <value>
                <elementReference>Created_Incident_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Protocol__c</field>
            <value>
                <elementReference>Selected_Protocol</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Protocol_Id.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_PI_EL_EE_Defendant_Company_Record</name>
        <label>Create PI-EL-EE Defendant Company Record</label>
        <locationX>1543</locationX>
        <locationY>484</locationY>
        <assignRecordIdToReference>Defendant_Record_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Claimant_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Created_Case_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Protocol_Id.Defendant_Record_Type_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>Defendant_Information__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_PI_EL_EE_Incident_Record</name>
        <label>Create PI-EL-EE Incident Record</label>
        <locationX>1145</locationX>
        <locationY>484</locationY>
        <assignRecordIdToReference>Created_Incident_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_PI_EL_EE_Case_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Address_Line_1__c</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City2__c</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>PI_EL_EE_Incident_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incident_Date__c</field>
            <value>
                <elementReference>PI_EL_EE_Incident_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incident_Type__c</field>
            <value>
                <stringValue>Employment Accident</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postal_Code__c</field>
            <value>
                <elementReference>Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State_County__c</field>
            <value>
                <elementReference>County</elementReference>
            </value>
        </inputAssignments>
        <object>Incident_Information__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_PI_MV_AO_Case_Record</name>
        <label>Create PI-MV-AO Case Record</label>
        <locationX>868</locationX>
        <locationY>1709</locationY>
        <assignRecordIdToReference>Created_Case_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_PI_MV_AO_Defendant_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Case_Source__c</field>
            <value>
                <stringValue>Claimant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incident_Information__c</field>
            <value>
                <elementReference>Created_Incident_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Protocol__c</field>
            <value>
                <elementReference>Selected_Protocol</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Protocol_Id.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_PI_MV_AO_Defendant_Record</name>
        <label>Create PI-MV-AO Defendant Record</label>
        <locationX>1099</locationX>
        <locationY>1709</locationY>
        <assignRecordIdToReference>Defendant_Record_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Claimant_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Created_Case_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Protocol_Id.Defendant_Record_Type_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>Defendant_Information__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_PI_MV_AO_Incident</name>
        <label>CreatePI-MV-AO Incident</label>
        <locationX>638</locationX>
        <locationY>1709</locationY>
        <assignRecordIdToReference>Created_Incident_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_PI_MV_AO_Case_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Address_Line_1__c</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City2__c</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>PI_MV_AO_Incident_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incident_Date__c</field>
            <value>
                <elementReference>PI_MV_AO_Incident_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incident_Type__c</field>
            <value>
                <stringValue>Motor Vehicle Accident</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postal_Code__c</field>
            <value>
                <elementReference>Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State_County__c</field>
            <value>
                <elementReference>County</elementReference>
            </value>
        </inputAssignments>
        <object>Incident_Information__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_PI_PL_EE_Case_Record</name>
        <label>Create PI-PL-EE Case Record</label>
        <locationX>1258</locationX>
        <locationY>1265</locationY>
        <assignRecordIdToReference>Created_Case_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_PI_PL_EE_Defendant_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Case_Source__c</field>
            <value>
                <stringValue>Claimant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incident_Information__c</field>
            <value>
                <elementReference>Created_Incident_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Protocol__c</field>
            <value>
                <elementReference>Selected_Protocol</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Protocol_Id.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_PI_PL_EE_Defendant_Record</name>
        <label>Create PI-PL-EE Defendant Record</label>
        <locationX>1412</locationX>
        <locationY>1265</locationY>
        <assignRecordIdToReference>Defendant_Record_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Claimant_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Created_Case_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Protocol_Id.Defendant_Record_Type_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>Defendant_Information__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_PI_PL_EE_Incident_Record</name>
        <label>Create PI-PL-EE Incident Record</label>
        <locationX>1065</locationX>
        <locationY>1265</locationY>
        <assignRecordIdToReference>Created_Incident_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_PI_PL_EE_Case_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Address_Line_1__c</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City2__c</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>PI_PL_EE_Incident_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incident_Date__c</field>
            <value>
                <elementReference>PI_PL_EE_Incident_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incident_Type__c</field>
            <value>
                <stringValue>Public Accident</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postal_Code__c</field>
            <value>
                <elementReference>Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State_County__c</field>
            <value>
                <elementReference>County</elementReference>
            </value>
        </inputAssignments>
        <object>Incident_Information__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_PSLA_Record</name>
        <label>Create PSLA Record</label>
        <locationX>3282</locationX>
        <locationY>978</locationY>
        <assignRecordIdToReference>Created_PSLA_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_FFL_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Created_Case_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Head_of_Loss_Type__c</field>
            <value>
                <stringValue>Pain, Suffering &amp; Loss of Amenities</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schedule_of_Losses__c</field>
            <value>
                <elementReference>Created_SOL_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Loss_Category__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_SOL_Record</name>
        <label>Create SOL Record</label>
        <locationX>3107</locationX>
        <locationY>501</locationY>
        <assignRecordIdToReference>Created_SOL_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Claimant_SOL</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Created_Case_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Claimant_Information__c</field>
            <value>
                <elementReference>Claimant_Record_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Schedule_of_Losses__c</object>
    </recordCreates>
    <recordLookups>
        <name>Protocol_Lookup</name>
        <label>Protocol Lookup</label>
        <locationX>50</locationX>
        <locationY>893</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Matching_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_Protocol</elementReference>
            </value>
        </filters>
        <object>Protocol__c</object>
        <outputReference>Protocol_Id</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Claimant_Record_Type_ID__c</queriedFields>
        <queriedFields>Defendant_Record_Type_ID__c</queriedFields>
        <queriedFields>Incident_Record_Type_ID__c</queriedFields>
        <queriedFields>Code__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Claimant_SOL</name>
        <label>Update Claimant SOL</label>
        <locationX>3290</locationX>
        <locationY>501</locationY>
        <connector>
            <targetReference>Create_Defendant_Firm_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Claimant_Record_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Schedule_of_Losses__c</field>
            <value>
                <elementReference>Created_SOL_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Claimant_Information__c</object>
    </recordUpdates>
    <screens>
        <name>Create_New_Case</name>
        <label>Create New Case</label>
        <locationX>50</locationX>
        <locationY>570</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Protocol_Lookup</targetReference>
        </connector>
        <fields>
            <name>ScreenHeader1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Create new Case:&amp;nbsp;Select New&amp;nbsp;Case / Incident Type&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CaseType2</name>
            <extensionName>c:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Protocol__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Case Type</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_Protocol</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Case_Source</name>
            <choiceReferences>Claimant</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Incident_Date</name>
            <dataType>Date</dataType>
            <fieldText>Incident Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AddressPicker</name>
            <extensionName>DV_Flow_AP:AddressValidation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showMap</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showTitle</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>City</assignToReference>
                <name>locality</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Country</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Postal_Code</assignToReference>
                <name>postal_code</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>County</assignToReference>
                <name>administrative_area_level_1</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Street</assignToReference>
                <name>route</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Matching_Screen</name>
        <label>Matching Screen</label>
        <locationX>287</locationX>
        <locationY>893</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Protocol_Selection_for_Merit</targetReference>
        </connector>
        <fields>
            <name>IncidentMatchingHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Do any of the following incidents or cases match the one you&apos;re about to capture?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MatchingGrid</name>
            <extensionName>c:IncidentTreeGrid</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>incidentDate</name>
                <value>
                    <elementReference>Incident_Date</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Postal_Code</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>incidentID</name>
                <value>
                    <elementReference>IncidentID</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>IncidentID</assignToReference>
                <name>incidentID</name>
            </outputParameters>
        </fields>
        <fields>
            <name>CreateCaseFlowFooter</name>
            <extensionName>c:CreateCaseFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PI_EL_EE_Incident_Description_Screen</name>
        <label>Incident Description</label>
        <locationX>853</locationX>
        <locationY>484</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_PI_EL_EE_Incident_Record</targetReference>
        </connector>
        <fields>
            <name>PI_EL_EE_Incident_Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Incident_Date</elementReference>
            </defaultValue>
            <fieldText>Incident Date / Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PI_EL_EE_Incident_Description</name>
            <fieldText>Incident Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PI_MV_AO_Incident_Description_Screen</name>
        <label>Incident Description</label>
        <locationX>638</locationX>
        <locationY>1562</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_PI_MV_AO_Incident</targetReference>
        </connector>
        <fields>
            <name>PI_MV_AO_Incident_Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Incident_Date</elementReference>
            </defaultValue>
            <fieldText>Incident Date / Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PI_MV_AO_Incident_Description</name>
            <fieldText>Incident Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PI_MV_EE_Incident_Description_Screen</name>
        <label>Incident Description</label>
        <locationX>921</locationX>
        <locationY>834</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Incident_Record</targetReference>
        </connector>
        <fields>
            <name>PI_MV_EE_Incident_Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Incident_Date</elementReference>
            </defaultValue>
            <fieldText>Incident Date / Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PI_MV_EE_Incident_Description</name>
            <fieldText>Incident Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PI_PL_EE_Incident_Description_Screen</name>
        <label>Incident Description</label>
        <locationX>909</locationX>
        <locationY>1266</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_PI_PL_EE_Incident_Record</targetReference>
        </connector>
        <fields>
            <name>PI_PL_EE_Incident_Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Incident_Date</elementReference>
            </defaultValue>
            <fieldText>Incident Date / Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PI_PL_EE_Incident_Description</name>
            <fieldText>Incident Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Create_New_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Claimant_Record_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Country</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>County</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Created_Bereavement_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Created_Case_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Created_Defendant_Firm_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Created_DOLM_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Created_FFL_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Created_Incident</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Incident_Information__c</objectType>
    </variables>
    <variables>
        <name>Created_Incident_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Created_Legal_Costs_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Created_LOCE_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Created_Merit_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Created_PFL_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Created_PI_EL_EE_Case_Record_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Created_PI_EL_EE_Incident_Record_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Created_PSLA_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Created_SOL_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Created_TLI_Record_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Defendant_Record_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExistingCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>FullFormattedAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FullStreetAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Incident_Latitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Incident_Longitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IncidentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MatchedCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MatchingCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>outputCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PI_MV_AO_Incident_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Postal_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Protocol_Id</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Protocol__c</objectType>
    </variables>
    <variables>
        <name>Selected_Protocol</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedIncidentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>State</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
