force-app/main/default/flows/Create_Sys_Admin_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Case_Notification_Decision</name>
        <label>Case Notification Decision</label>
        <locationX>554</locationX>
        <locationY>234</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Appoint_Arbitrator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AppointArbitrator</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_MM_Appoint_Arbitrator_Case_Notification_Record</targetReference>
            </connector>
            <label>Appoint Arbitrator</label>
        </rules>
        <rules>
            <name>Add_Facilitator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddFacilitor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_MM_Add_Facilitator_Case_Notification_Record</targetReference>
            </connector>
            <label>Add Facilitator</label>
        </rules>
    </decisions>
    <description>Fixing errors</description>
    <interviewLabel>Create Sys Admin Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Sys Admin Notifications</label>
    <loops>
        <name>Process_Loop</name>
        <label>Process Loop</label>
        <locationX>382</locationX>
        <locationY>379</locationY>
        <assignNextValueToReference>SysAdminUserRecord</assignNextValueToReference>
        <collectionReference>SysAdmins</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Case_Notification_Decision</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_MM_Add_Facilitator_Case_Notification_Record</name>
        <label>Create MM Add Facilitator Case Notification Record</label>
        <locationX>838</locationX>
        <locationY>379</locationY>
        <assignRecordIdToReference>CaseNotificationId</assignRecordIdToReference>
        <connector>
            <targetReference>Process_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>Appoint_Facilitator_to_Case__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Member_Email__c</field>
            <value>
                <elementReference>SysAdminUserRecord.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>SysAdminUserRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Notification__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_MM_Appoint_Arbitrator_Case_Notification_Record</name>
        <label>Create MM Appoint Arbitrator Case Notification Record</label>
        <locationX>418</locationX>
        <locationY>53</locationY>
        <assignRecordIdToReference>CaseNotificationId</assignRecordIdToReference>
        <connector>
            <targetReference>Process_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>Case_Member_Email__c</field>
            <value>
                <elementReference>SysAdminUserRecord.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invite_Arbitrator__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>SysAdminUserRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Notification__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Sys_Admin_Profile_Id</name>
        <label>Get Sys Admin Profile Id</label>
        <locationX>52</locationX>
        <locationY>379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sys_Admin_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>System Administrator</stringValue>
            </value>
        </filters>
        <object>Profile</object>
        <outputAssignments>
            <assignToReference>SysAdminProfileId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Sys_Admin_Users</name>
        <label>Get Sys Admin Users</label>
        <locationX>231</locationX>
        <locationY>379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SysAdminProfileId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>SysAdmins</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <startElementReference>Get_Sys_Admin_Profile_Id</startElementReference>
    <status>Active</status>
    <variables>
        <name>AddFacilitor</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AppointArbitrator</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseNotificationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>casenots</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Notification__c</objectType>
    </variables>
    <variables>
        <name>casenots2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Notification__c</objectType>
    </variables>
    <variables>
        <name>SysAdminProfileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SysAdmins</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>SysAdminUserRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
