force-app/main/default/flows/Neg_Neg_1_Associate_File_with_Loss_Item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <description>Removed lookup component</description>
    <dynamicChoiceSets>
        <name>SharingPermissionsPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Document_Sharing_Permissions__c</picklistField>
        <picklistObject>Loss_Category_Files__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Neg-Neg-1-Associate File with Loss Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Neg-Neg-1-Associate File with Loss Item</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Loss_Category_File_Record</name>
        <label>Create Loss Category File Record</label>
        <locationX>782</locationX>
        <locationY>50</locationY>
        <inputAssignments>
            <field>CaseId__c</field>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Document_Sharing_Permissions__c</field>
            <value>
                <elementReference>Sharing_Permissions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Document_Type__c</field>
            <value>
                <elementReference>Selected_Document_Record.INAP_Doc_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>File_Comments__c</field>
            <value>
                <elementReference>File_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>File_Name__c</field>
            <value>
                <elementReference>Selected_Document_Record.Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>File_Url__c</field>
            <value>
                <stringValue>/s/contentdocument/{!Selected_Document_Record.ContentDocumentId}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loss_Sub_Category__c</field>
            <value>
                <elementReference>Selected_Loss_Item_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Uploaded_By__c</field>
            <value>
                <elementReference>Selected_Document_Record.Uploaded_By__c</elementReference>
            </value>
        </inputAssignments>
        <object>Loss_Category_Files__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Selected_Loss_Item</name>
        <label>Get Selected Loss Item</label>
        <locationX>578</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Loss_Category_File_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_Loss_Item.Id</elementReference>
            </value>
        </filters>
        <object>Loss_Sub_Categories__c</object>
        <outputReference>Selected_Loss_Item_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Loss_Item_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Uploaded_Document</name>
        <label>Get Uploaded Document</label>
        <locationX>387</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Selected_Loss_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_File.Id</elementReference>
            </value>
        </filters>
        <object>ContentVersion</object>
        <outputReference>Selected_Document_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Title</queriedFields>
        <queriedFields>INAP_Doc_Type__c</queriedFields>
        <queriedFields>ContentDocumentId</queriedFields>
        <queriedFields>Case_Id__c</queriedFields>
        <queriedFields>Uploaded_By__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Link_File_to_Loss_Item</name>
        <label>Link File to Loss Item</label>
        <locationX>201</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Uploaded_Document</targetReference>
        </connector>
        <fields>
            <name>Sharing_Permissions</name>
            <choiceReferences>SharingPermissionsPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sharing Permissions</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>File_Comments</name>
            <fieldText>File Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Link_File_to_Loss_Item</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Selected_Document_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
    <variables>
        <name>Selected_File</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
    <variables>
        <name>Selected_Loss_Item</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Loss_Sub_Categories__c</objectType>
    </variables>
    <variables>
        <name>Selected_Loss_Item_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Loss_Sub_Categories__c</objectType>
    </variables>
    <variables>
        <name>TestUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
