force-app/main/default/flows/Neg_Arbitrating_4_Arbitrator_Accept_Reject_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Accept_Reject_Decision</name>
        <label>Accept / Reject Decision</label>
        <locationX>612</locationX>
        <locationY>245</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Accept</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_accept</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accept</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_User_Invitation</targetReference>
            </connector>
            <label>Accept</label>
        </rules>
        <rules>
            <name>Reject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_accept</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reject_Reason</targetReference>
            </connector>
            <label>Reject</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invitation_Check</name>
        <label>Invitation Check</label>
        <locationX>269</locationX>
        <locationY>256</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Response</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedInvitationResponse</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Response_Message_Screen</targetReference>
            </connector>
            <label>Has Response</label>
        </rules>
        <rules>
            <name>Has_No_Response</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedInvitationResponse</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Record</targetReference>
            </connector>
            <label>Has No Response</label>
        </rules>
    </decisions>
    <description>With Response Checking</description>
    <dynamicChoiceSets>
        <name>Accept_Reject</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Case_User_Invitation__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Neg-Arbitrating-4-Arbitrator-Accept-Reject-Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Neg-Arbitrating-4-Arbitrator-Accept-Reject-Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>350</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Arbitration_Terms_Conditions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_Case_Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Case_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Arbitration_Firm__c</queriedFields>
        <queriedFields>Arbitrator_Email__c</queriedFields>
        <queriedFields>Invite_Arbitrator__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_User_Invitations_Records</name>
        <label>Get Case User Invitations Records</label>
        <locationX>186</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invitation_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_User_Invitation_Id</elementReference>
            </value>
        </filters>
        <object>Case_User_Invitation__c</object>
        <outputAssignments>
            <assignToReference>Selected_Case_Number</assignToReference>
            <field>Case_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Selected_Case_Id</assignToReference>
            <field>Case__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Selected_Case_User_Invitation</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedInvitationResponse</assignToReference>
            <field>Type__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>623</locationX>
        <locationY>712</locationY>
        <connector>
            <targetReference>Update_Case_Recheck_Invite_Arbitrator</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_Case_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Arbitration_Firm__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Arbitrator_Contact__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Arbitrator_Email__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invite_Arbitrator__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Recheck_Invite_Arbitrator</name>
        <label>Update Case - Recheck Invite Arbitrator</label>
        <locationX>622</locationX>
        <locationY>850</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_Case_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Arbitration_Firm__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Arbitrator_Contact__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Arbitrator_Email__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invite_Arbitrator__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_User_Invitation</name>
        <label>Update Case User Invitation</label>
        <locationX>860</locationX>
        <locationY>238</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_Case_User_Invitation</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Do_you_accept</elementReference>
            </value>
        </inputAssignments>
        <object>Case_User_Invitation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_User_Invitation_Reject</name>
        <label>Update Case User Invitation - Reject</label>
        <locationX>621</locationX>
        <locationY>571</locationY>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_Case_User_Invitation</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reason_for_Rejection__c</field>
            <value>
                <elementReference>Please_provide_a_reason_for_rejection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Reject</stringValue>
            </value>
        </inputAssignments>
        <object>Case_User_Invitation__c</object>
    </recordUpdates>
    <screens>
        <name>Arbitration_Terms_Conditions</name>
        <label>Arbitration Terms &amp; Conditions</label>
        <locationX>491</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Review_Case</targetReference>
        </connector>
        <fields>
            <name>ContentHeader1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Arbitration Invitation&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TCs</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif; color: rgb(0, 0, 0);&quot;&gt;You have been invited to arbitrate case {!Selected_Case_Number}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Please accept/decline this invitation. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif; color: rgb(0, 0, 0);&quot;&gt;If you accept the case you will be expected to provide an award within the time allocated for Arbitration. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Reject_Reason</name>
        <label>Reject Reason</label>
        <locationX>622</locationX>
        <locationY>422</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Case_User_Invitation_Reject</targetReference>
        </connector>
        <fields>
            <name>ContentHeader3</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Arbitration Invitation&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Please_provide_a_reason_for_rejection</name>
            <fieldText>Please provide a reason for rejection</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Response_Message_Screen</name>
        <label>Response Message Screen</label>
        <locationX>277</locationX>
        <locationY>449</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ResponseMessage</name>
            <fieldText>&lt;p&gt;This user invitation has already been responded to and is now locked.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please contact your market maker if this is an error.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Review_Case</name>
        <label>Review Case</label>
        <locationX>616</locationX>
        <locationY>104</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Accept_Reject_Decision</targetReference>
        </connector>
        <fields>
            <name>ContentHeader2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Arbitration Invitation&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Details</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Case Number: {!Selected_Case_Number}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_you_accept</name>
            <choiceReferences>Accept_Reject</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you accept?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Get_Case_User_Invitations_Records</startElementReference>
    <status>Active</status>
    <variables>
        <name>Case_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Case_User_Invitation_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Case_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Selected_Case_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Selected_Case_Team_Member_Record_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Selected_Case_User_Invitation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Selected_Case_User_Invitation_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_User_Invitation__c</objectType>
    </variables>
    <variables>
        <name>Selected_User_Case_Invitations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_User_Invitation__c</objectType>
    </variables>
    <variables>
        <name>SelectedInvitationResponse</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
